body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFEC;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
}

.employee-schedule-container {
    background-color: #FFFFEC;
    width: 90%; /* Adjust as needed */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.subject-form-container {
    background-color: #FFFFEC;
    width: 48%; /* Adjust as needed */
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

/* Form styles */
form {
    margin-bottom: 20px;
    padding: 10;
}

.form-group {
    margin-bottom: 15px;
}

label {
    padding: 5px;
    display: block;
    color: black;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button styles */
input[type="submit"],
.back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #65B741;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

/* Table styles */
table {
    
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;

}

th {
    background-color: #50623A   ;
}

tr:nth-child(even) {
    background-color: #789461;
}

tr:nth-child(odd) {
    background-color: #99BC85;
}
.back-button {
    background-color: #CD8D7A;
}
.back-button:hover {
    background: #DBCC95;
}