body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #fff;
}

form {
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Light gray background for the form */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.attendance-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.absent-button, .on-business-button {
    width: 100%;
    margin-bottom: 5px;
    color: #fff;
    border: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.on-business-button {
    background-color: #4287f5; /* Blue */
}

.absent-button {
    background-color: #ff0000; /* Red */
}

.absent-button:hover,
.on-business-button:hover {
    background-color: #555; /* Darker background on hover */
}

@media (max-width: 576px) {
    .attendance-buttons {
        flex-direction: row;
        position: static;
        margin-top: 10px;
    }

    .absent-button, .on-business-button {
        width: 48%;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

table {
    border: 2px solid #3498db; /* Blue border */
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #3498db; /* Blue */
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

.list-group {
    display: flex;
    flex-wrap: wrap;
}

.list-group-item {
    width: 100%; /* Three items per row with margin in between */
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.list-group-item a {
    text-decoration: none;
    color: inherit;
}

.list-group-item a:hover {
    text-decoration: none;
}
.list-group-item h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333; /* Dark text color */
}

.list-group-item p {
    margin-bottom: 10px;
    color: #666; /* Slightly lighter text color */
}



.list-group-item a {
    color: #3498db; /* Blue link color */
}

.list-group-item a:hover {
    text-decoration: underline;
}

.employee-status {
    font-weight: bold;
}

.employee-status {
    font-weight: bold;
}

.searchBackBtn {
    padding: 10px;
    background-color: #CD8D7A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.searchBackBtn:hover {
    background: #DBCC95;
}

@media (max-width: 992px) {
    .list-group-item {
        width: calc(50% - 20px); /* Two items per row with margin in between on smaller screens */
    }
}

@media (max-width: 576px) {
    .list-group-item {
        width: 100%; /* Single item per row on the smallest screens */
        margin-right: 0;
    }

    form {
        margin-bottom: 10px;
    }

    .attendance-buttons {
        flex-direction: row;
    }

    .absent-button, .on-business-button {
        width: 48%;
        margin-right: 5px;
        margin-bottom: 0;
    }
}
