table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
.cheader {
    text-align: center; 
}
form {
    margin: 20px;
    text-align: left;
}

label {
    margin-right: 10px;
}

select, input {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #739072;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #86A789;
}
